@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1A1F2D;
  --color-secondary: #475BFD;
  --color-text: #FFFFFF;
}

body {
  font-family: 'Montserrat', san-serif;
  background-color: var(--color-primary);
  color: var(--color-text);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1f2937;
}
::-webkit-scrollbar-thumb {
  background: #475BfD;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b91c1c;
}
/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
